# Quiz exercises

In [60]:
import pandas as pd
import numpy as np

In [4]:
file=pd.read_csv(r'C:\Data\Portfolios_Formed_on_ME_monthly_EW.csv')
file.head()

,Unnamed: 0,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
0,192607,-99.99,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1,192608,-99.99,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
2,192609,-99.99,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
3,192610,-99.99,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
4,192611,-99.99,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [8]:
file=pd.read_csv(r'C:\Data\Portfolios_Formed_on_ME_monthly_EW.csv', 
                 header=0, index_col=0, parse_dates=True, na_values=-99.99)
file.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [42]:
# Select only Lo 20 and Hi 20 columns
returns=file[['Lo 20', 'Hi 20']]
returns.head()

        Lo 20  Hi 20
192607  -0.57   3.33
192608   3.84   2.33
192609  -0.48  -0.09
192610  -3.29  -2.95
192611  -0.55   3.16

In [43]:
# convert returns to decimal format, so easy to add to 1+R format
returns = returns/100
returns.head()

         Lo 20   Hi 20
192607 -0.0057  0.0333
192608  0.0384  0.0233
192609 -0.0048 -0.0009
192610 -0.0329 -0.0295
192611 -0.0055  0.0316

In [50]:
# Get number of months to use in the monthly returns calculation
no_months = returns.shape[0]
no_months

1110

In [53]:
# Calculate return per month
month_returns = (1+returns).prod()**(1/no_months) -1
month_returns

Lo 20    0.011860
Hi 20    0.007859
dtype: float64

In [58]:
# Annualised returns in %
annual_returns = ((1+month_returns)**(12) -1)*100
annual_returns

Lo 20    15.197701
Hi 20     9.849021
dtype: float64

In [59]:
# Calculate volatility of returns on current datset
returns.std()

Lo 20    0.097197
Hi 20    0.056325
dtype: float64

In [68]:
# Monthly Volatility
monthly_volt = returns.std() * np.sqrt(1/12)
monthly_volt

Lo 20    0.028058
Hi 20    0.016260
dtype: float64

In [62]:
# Annual Volatility
annual_volt = returns.std() * np.sqrt(12)
annual_volt

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [66]:
# Alternative annual volatility calculation
annual_volt = ((monthly_volt *12)*100).round(1)
annual_volt

Lo 20    33.7
Hi 20    19.5
dtype: float64

In [78]:
# Periodical returns during 1999 and 2015 - Change the index to date format using to_datetime method
# get current returns.index format
returns.index

Int64Index([192607, 192608, 192609, 192610, 192611, 192612, 192701, 192702,
            192703, 192704,
            ...
            201803, 201804, 201805, 201806, 201807, 201808, 201809, 201810,
            201811, 201812],
           dtype='int64', length=1110)

In [79]:
# Periodical returns during 1999 and 2015 - Change the index to date format using to_datetime method
returns.index = pd.to_datetime(returns.index, format="%Y%M").to_period('M')

returns.index

PeriodIndex(['1926-01', '1926-01', '1926-01', '1926-01', '1926-01', '1926-01',
             '1927-01', '1927-01', '1927-01', '1927-01',
             ...
             '2018-01', '2018-01', '2018-01', '2018-01', '2018-01', '2018-01',
             '2018-01', '2018-01', '2018-01', '2018-01'],
            dtype='period[M]', length=1110, freq='M')

In [99]:
# Get returns from 1999 to 2015 period
periodic_returns=returns["1999": "2015"]
periodic_returns.index.min()
periodic_returns.index.max()
 periodic_returns["2015"]

          Lo 20   Hi 20
2015-01 -0.0279 -0.0330
2015-01  0.0564  0.0616
2015-01 -0.0029 -0.0133
2015-01  0.0040  0.0130
2015-01  0.0053  0.0058
2015-01  0.0025 -0.0235
2015-01 -0.0533  0.0107
2015-01 -0.0347 -0.0559
2015-01 -0.0610 -0.0333
2015-01  0.0385  0.0710
2015-01  0.0165  0.0015
2015-01 -0.0500 -0.0229

In [100]:
# Annual returns for term period
no_months = periodic_returns.shape[0]
month_returns = (1+periodic_returns).prod()**(1/no_months) -1
annual_returns = (1+month_returns)**12 -1
annual_returns

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [101]:
# Annual Volatility for fixed term
annual_vol = periodic_returns.std()*np.sqrt(12)
annual_vol

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [102]:
import risk as r

In [107]:
r.drawdowns(periodic_returns["Lo 20"]).min()

Wealth      1034.189842
Peaks       1111.400000
Drawdown      -0.624809
dtype: float64

In [111]:
r.drawdowns(periodic_returns["Lo 20"])["Drawdown"].idxmin()

Period('2009-01', 'M')

In [171]:
indx=r.drawdowns(periodic_returns["Hi 20"])
indx["Drawdown"].min()

-0.5527349978713653

In [145]:
r.drawdowns(periodic_returns["Hi 20"])["Drawdown"].idxmax()

Period('1999-01', 'M')

In [120]:
hfi_file = pd.read_csv(r'C:\data\edhec-hedgefundindices.csv', header=0, index_col=0, parse_dates=True)
hfi_file.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01-31,1.19,3.93,1.78,7.91,1.89,2.13,1.91,5.73,2.81,1.50,1.80,-1.66,3.17
1997-02-28,1.23,2.98,1.22,5.25,1.01,0.84,1.22,1.75,-0.06,0.34,1.18,4.26,1.06
1997-03-31,0.78,-0.21,-0.12,-1.20,0.16,-0.23,1.09,-1.19,-0.84,0.60,0.10,7.78,-0.77
1997-04-30,0.86,-1.70,0.30,1.19,1.19,-0.05,1.30,1.72,0.84,-0.01,1.22,-1.29,0.09
1997-05-31,1.56,-0.15,2.33,3.15,1.89,3.46,1.18,1.08,3.94,1.97,1.73,-7.37,2.75

In [127]:
# get hfi returns from 2009 to 2018
hfi_returns=r.get_hfi_returns()
hfi_returns.head()
periodic_hfi_returns = hfi_returns["2009":"2018"]
periodic_hfi_returns.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

In [136]:
# Calculate semideviation from 2009 to 2018
r.semideviation(periodic_hfi_returns)

Convertible Arbitrage     0.006681
CTA Global                0.010996
Distressed Securities     0.009498
Emerging Markets          0.015276
Equity Market Neutral     0.005186
Event Driven              0.010135
Fixed Income Arbitrage    0.003321
Global Macro              0.005075
Long/Short Equity         0.012139
Merger Arbitrage          0.003611
Relative Value            0.005711
Short Selling             0.021240
Funds Of Funds            0.007948
dtype: float64

In [139]:
# Semideviation from 2009
periodic_hfi_returns = hfi_returns["2009":]
r.semideviation(periodic_hfi_returns)

Convertible Arbitrage     0.006681
CTA Global                0.010996
Distressed Securities     0.009498
Emerging Markets          0.015276
Equity Market Neutral     0.005186
Event Driven              0.010135
Fixed Income Arbitrage    0.003321
Global Macro              0.005075
Long/Short Equity         0.012139
Merger Arbitrage          0.003611
Relative Value            0.005711
Short Selling             0.021240
Funds Of Funds            0.007948
dtype: float64

In [140]:
# Calculate most negatively skewed
r.skewness(periodic_hfi_returns)

Convertible Arbitrage     1.305911
CTA Global                0.052062
Distressed Securities    -0.254944
Emerging Markets          0.033123
Equity Market Neutral    -0.896327
Event Driven             -0.488821
Fixed Income Arbitrage    1.121453
Global Macro              0.348184
Long/Short Equity        -0.463703
Merger Arbitrage         -0.551065
Relative Value            0.159953
Short Selling             0.456518
Funds Of Funds           -0.646908
dtype: float64

In [144]:
# Get highest kurtosis for period from 2000:
periodic_hfi_returns = hfi_returns["2000": "2018"]
periodic_hfi_returns
r.kurtosis(periodic_hfi_returns)

Convertible Arbitrage    -2.618058
CTA Global                0.155413
Distressed Securities    -0.974978
Emerging Markets         -0.919347
Equity Market Neutral    -2.632139
Event Driven             -1.052166
Fixed Income Arbitrage   -3.746362
Global Macro              0.346942
Long/Short Equity        -0.540686
Merger Arbitrage         -0.762771
Relative Value           -1.789867
Short Selling             0.448127
Funds Of Funds           -0.683220
dtype: float64