# Building Modules

In [30]:
# To load changes from user module directly
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [17]:
import risk as r
returns=r.get_ffme_returns()
returns.head()

         SmallCap10  LargeCap10
1926-01     -0.0145      0.0329
1926-01      0.0512      0.0370
1926-01      0.0093      0.0067
1926-01     -0.0484     -0.0243
1926-01     -0.0078      0.0270

In [19]:
# call drawdowns for smallcap drawdown min value
r.drawdowns(returns["SmallCap10"])["Drawdown"].min()

-0.8330007793945303

In [21]:
# Get largecap10 drawdown values
r.drawdowns(returns["LargeCap10"]).head()

              Wealth        Peaks  Drawdown
1926-01  1032.900000  1032.900000    0.0000
1926-01  1071.117300  1071.117300    0.0000
1926-01  1078.293786  1078.293786    0.0000
1926-01  1052.091247  1078.293786   -0.0243
1926-01  1080.497711  1080.497711    0.0000

In [25]:
r.drawdowns(returns["LargeCap10"])["Peaks"].min()
r.drawdowns(returns["LargeCap10"])["Peaks"].max()

4212245.607850712

In [27]:
r.drawdowns(returns["LargeCap10"])["Drawdown"].min()
r.drawdowns(returns["LargeCap10"])["Drawdown"].idxmin()

Period('1932-01', 'M')

In [35]:
r.drawdowns(returns["SmallCap10"])["Drawdown"].idxmin()

Period('1932-01', 'M')